body {
  font-family: 'Source Sans Pro', sans-serif; }

.header .header__title {
  margin-top: 30px;
  margin-bottom: 60px;
  font-size: 30px; }
  .header .header__title .header__title__link {
    color: #212529; }
    .header .header__title .header__title__link:hover {
      text-decoration: none; }

.header .header__hr {
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.1); }

.credit .credit__company {
  padding-left: 0; }
  .credit .credit__company .credit__logo {
    width: 145px;
    height: 50px; }
  .credit .credit__company .credit__title {
    margin: 0;
    margin-top: 7px; }
  .credit .credit__company .credit__bank_name {
    color: rgba(0, 0, 0, 0.3);
    width: 100%; }
  .credit .credit__company .credit__raiting {
    background-image: url("../img/star-icon.svg");
    width: 77px;
    height: 15px;
    display: block; }

.credit .credit__info {
  padding-left: 0; }
  .credit .credit__info .credit__info__amount {
    margin-bottom: 0; }
  .credit .credit__info .credit__info__time {
    margin-bottom: 0; }

.credit .credit__hr {
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.1); }

.security .security__container {
  padding-left: 0;
  padding-top: 35px; }

.security .security__list {
  padding-left: 0; }
  .security .security__list .security__list_item {
    list-style: none;
    margin-bottom: 5px; }
    .security .security__list .security__list_item .security_item__logo {
      width: 3.5%;
      display: inline-block;
      margin-right: 4px; }
    .security .security__list .security__list_item .security_item__title {
      margin-bottom: 0;
      display: inline-block;
      color: #a9a9a9; }

.contact .contact__form_wraper {
  padding-bottom: 20px; }

.contact .contact__title {
  font-size: 28px;
  margin-top: 20px; }

.contact .contact__contact_form__submit {
  margin-top: 10px;
  background-color: #57A403;
  width: 100%;
  font-size: 17px;
  margin-bottom: 20px; }

.footer {
  background-color: #26282b;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: #a9a9a9;
  font-size: 14px; }
