body {
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 24px;
  .container { max-width: 905px; }
}

.header {
  .header__title {
    margin-top: 30px;
    margin-bottom: 60px;
    font-size: 30px;
    line-height: 24px;

    .header__title__link {
      color: #212529;
      &:hover { text-decoration: none;}
    }
  }

  .header__hr {
    width: 100%;
    border-top: 1px solid rgba(0,0,0,.1)
  }
}

.credit {

  .credit__company {
    padding-left: 0;

    .credit__logo {
      width: 145px;
      height: 50px;
    }

    .credit__title {
      margin: 0;
      margin-top: 7px;
      font-size: 24px;
      line-height: 28px;
    }

    .credit__bank_name {
      color: rgba(0,0,0,.3);
      width: 100%;
      line-height: 24px;
    }

    .credit__raiting {
      background-image: url("../img/star-icon.svg");
      width: 77px;
      height: 15px;
      display: block;
    }
  }

  .credit__info {
    padding-left: 0;
    margin-top: 10px;

    .credit__info__list {
      margin-bottom: 0;
      font-size: 14px;
      color: #333;
      padding-left: 0;
      list-style: none;
    }

  }

  .credit__hr {
    width: 100%;
    border-top: 1px solid rgba(0,0,0,.1)
  }
}

.security {
  .security__container {
    padding-left: 0;
    padding-top: 35px;
  }
  .security__list {
    padding-left: 0;

    .security__list_item {
      list-style: none;
      margin-bottom: 10px;
      font-size: 14px;
      font-weight: 400;

      .security_item__logo {
        width: 3.5%;
        display: inline-block;
        margin-right: 4px;
      }

      .security_item__title {
        margin-bottom: 0;
        display: inline-block;
        color: #a9a9a9;
      }
    }
  }
}

.contact {
  .contact__form_wraper{
    padding-bottom: 20px;
  }

  .contact__title {
    font-size: 28px;
    margin: 27px 0 10px;
  }

  .contact__subtitle {
    font-size: 14px;
    line-height: 16px;
    display: block;
    margin-bottom: 28px;
  }

  .form-group {
    margin-bottom: 0;
    height: 38px;
    margin-top: 20px;
  }

  .contact__form {

    .contact__form__input {
      border: none;
      border-bottom: 1px solid cadetblue;
      border-radius: 0;
      outline: none;
      box-shadow: none;
      color: #000;
      &:focus + .contact__form__input_label
        { display: none; }
    }
    .contact__form__input_label {
      position: relative;
      z-index: 99;
      top: -30px;
      color: #495057;
    }

    .contact__form__check_wrapper {
      margin-top: 20px;
      margin-bottom: 10px;

      .form-check {
        border-bottom: 1px dotted rgba(0,0,0,.3);
      }

      .form-check:last-of-type{
        border-bottom: none;
      }

      .contact__form__checkbox_label {
        font-size: 14px;
        line-height: 20px;
        color: rgba(0,0,0,.6);
        &:hover {
          cursor: pointer;
        }
      }



      .form-check-input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        left: 22px;
        top: 2px;
        z-index: 2;
      }

      .contact__form__check_wrapper__fake_checkbox {
        position: absolute;
        top: 5px;
        left: 0;
        height: 15px;
        width: 15px;
        background-color: #FFF;
        border: 1px solid rgba(0,0,0,.15);
        &:hover {
          cursor: pointer;
        }
      }
      .contact__form__check_wrapper__fake_checkbox:after {
        content: "";
        position: absolute;
        display: none;
      }
      .contact__form__check_wrapper__fake_checkbox:after {
        left: 4px;
        top: 1px;
        width: 5px;
        height: 10px;
        border: solid rgba(0,0,0,.5);
        border-width: 0 2px 2px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }

    }
    input:checked ~ .contact__form__check_wrapper__fake_checkbox:after {
      display:block
    }
    .contact__contact_form__submit {
      margin-top: 10px;
      background-color: #57A403;
      width: 100%;
      font-size: 17px;
      border: none;
      margin-bottom: 20px;
    }
  }

}

.footer {
  background-color: #26282b;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: #a9a9a9;
  font-size: 14px;
  padding-top: 10px;

  .container { padding-left: 0; }

  .footer__list {
    padding-left: 0;
    display: inline-block;

    .footer__list__item {
      display: inline-block;
      margin-right: 7px;
      opacity: .6;

      a { color: #FFF; }
    }
  }
  .footer__wp_content {
    float: right;
    display: inline-block;

    .footer__wp_content__logo {
      margin-right: 5px;
    }
  }
}