body {
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 24px;
  .container { max-width: 905px; }
}

.header {
  .header__title {
    margin-top: 30px;
    margin-bottom: 60px;
    font-size: 30px;
    line-height: 24px;

    .header__title__link {
      color: #212529;
      &:hover { text-decoration: none;}
    }
  }

  .header__hr {
    width: 100%;
    border-top: 1px solid rgba(0,0,0,.1)
  }
}

.credit {

  .credit__company {
    padding-left: 0;

    .credit__logo {
      width: 145px;
      height: 50px;
    }

    .credit__title {
      margin: 0;
      margin-top: 7px;
    }

    .credit__bank_name {
      color: rgba(0,0,0,.3);
      width: 100%;
    }

    .credit__raiting {
      background-image: url("../img/star-icon.svg");
      width: 77px;
      height: 15px;
      display: block;
    }
  }


  .credit__info {
    padding-left: 0;

    .credit__info__amount {
      margin-bottom: 0;
    }
    .credit__info__time {
      margin-bottom: 0;
    }
  }

  .credit__hr {
    width: 100%;
    border-top: 1px solid rgba(0,0,0,.1)
  }
}

.security {
  .security__container {
    padding-left: 0;
    padding-top: 35px;
  }
  .security__list {
    padding-left: 0;

    .security__list_item {
      list-style: none;
      margin-bottom: 10px;
      font-size: 14px;
      font-weight: 400;

      .security_item__logo {
        width: 3.5%;
        display: inline-block;
        margin-right: 4px;
      }

      .security_item__title {
        margin-bottom: 0;
        display: inline-block;
        color: #a9a9a9;
      }
    }
  }
}

.contact {
  .contact__form_wraper{
    padding-bottom: 20px;
  }


  .contact__title {
    font-size: 28px;
    margin: 27px 0 10px;
  }
  .contact__subtitle {
    font-size: 14px;
    line-height: 16px;
    display: block;
  }

  .form-group {
    margin-bottom: 0;
    height: 75px;
  }

  .contact__form {

    .contact__form__input {
      border: none;
      border-bottom: 1px solid cadetblue;
      border-radius: 0;
      outline: none;
      box-shadow: none;
      color: #000;
      &:focus + .contact__form__input_label
        { display: none; }
    }
    .contact__form__input_label {
      position: relative;
      z-index: 99;
      top: -30px;
      color: #495057;
    }
    .contact__form__checkbox_label {
      font-size: 14px;
      line-height: 20px;
      color: rgba(0,0,0,.6);
    }
    .contact__contact_form__submit {
      margin-top: 10px;
      background-color: #57A403;
      width: 100%;
      font-size: 17px;
      border: none;
      margin-bottom: 20px;
    }
  }

}


.footer {
  background-color: #26282b;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: #a9a9a9;
  font-size: 14px;

  .container {
    padding-left: 0;
  }

  .footer__list {
    padding-left: 0;
    display: inline-block;

    .footer__list__item {
      display: inline-block;
      margin-right: 7px;

      a {
        color: #FFF;
      }
    }
  }
  .footer__wp_content {
    float: right;
    display: inline-block;

    .footer__wp_content__logo {
      margin-right: 5px;
    }
  }
}